$main-font: inter;

$accent-color-red: #FF4459;
$accent-color-red-darker: #bd3444;
$accent-color-marine: #9DFFE4;
$accent-color-blue: #A7FAFF;

$main-border-radius: 10px;

$font-bold-color: #2D3436;
$font-gray-color: #3c4547c2;
$font-bright-color: white;

$font-size-1: 14px;
$font-size-2: 18px;
$fonr-size-3: 32px;

$main-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
$card-border-radius: 15px;
$card-padding: 15px;